<%- include("header") -%>
<div class="countdown">
    <h1>SEÇİME</h1>
    <p><span id="days"><%= days %></span> gün, <span id="hours"><%= hours %></span> saat, <span id="minutes"><%= minutes %></span> dakika,<span id="seconds"><%= seconds %></span> saniye</p>
    <h1>KALDI</h1>
</div>
<%- include("footer") -%>

